@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --second-cyan: rgb(74, 189, 186);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  font-family: 'Karla',sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--light-gray);
  margin: auto;
}

.content {
  display: grid;
  grid-gap: 0;
  grid-template-areas: "first" "second" "third";
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.8);
  margin: 50px auto;
  max-width: 300px;
}

.card {
  padding: 15px 20px;
}
/*first card style */
.first {
  grid-area: first;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.first p,h2 {
  font-size: 18px;
  line-height: 1.5rem;
}

h1 {
  color: var(--second-cyan);
}

.first h2 {
  color: var(--bright-yellow);
}

.first p {
  color: var(--grayish-blue);
}

/*second card style */
.second {
  grid-area: second;
  background-color: var(--cyan);
  color: #fff;
}

div.price {
  display: flex;
  align-items: center;
}

div.price p {
  margin: 5px 0 5px 10px;
  color: #b9e7e6;  
}

span {
  font-size: 30px;
  font-weight: 700;
}

.text {
  margin: 5px 0 25px;
}

.btn {
  background-color: var(--bright-yellow);
  display: block;
  text-align: center;
  padding: 0.7rem 1.3rem;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 0 20px hsl(0%, 0%, 59%);
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  background-color: #fff;
  color: var(--bright-yellow);
}

/*third card style */
.third {
  grid-area: third;
  background-color: var(--second-cyan);
  color: #fff;
  padding-right: 5rem;
  line-height: 1.4rem;
  border-radius: 0 0 5px 5px;
}

.third p {
  color: #b9e7e6;
  margin-bottom: 0;
  width: 200px;
}

@media (min-width: 750px) {
  
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    grid: "first first" 1fr
          "second third" 1fr / 1fr 1fr;
    max-width: 600px;
  }

  .card {
    padding: 1rem 3rem 2rem;
  }

  .second {
    border-radius: 0 0 0 5px;
  }

  .third {
    border-radius:  0 0 5px 0;
  }
}